* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
ul {
  list-style: none;
}

.head {
  padding: 30px;
  background-color: rgba(45, 45, 223, 0.432);
  margin-bottom: 25px;
}
.button-box {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.account {
  display: flex;
  flex-direction: row;
  justify-content: end;
  /* margin-left: auto; */
}
.account-item {
  color: #212121;
  cursor: pointer;
}
.account-item:hover {
  color: #21212185;
}

.accountLogout {
  color: #212121;
  cursor: pointer;
}
.accountLogout:hover {
  color: #21212185;
}
.accountDelete {
  color: red;
  cursor: pointer;
}
.accountDelete:hover {
  color: rgba(255, 0, 0, 0.514);
}

.sign {
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
}
.sign:hover {
  background-color: rgba(0, 255, 255, 0.5);
}
.signActive {
  background-color: rgba(0, 255, 170, 0.548);
}
.form-box {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 400px;
  border: 2px solid #212121;
  border-radius: 15px;
  padding: 15px;
  display: block
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding: 5px; */
  margin-bottom: 20px;
  /* padding-bottom: 200px; */
 
}
.form-input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
.form-button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: #006b9c49;
  border-radius: 8px;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.social-sign {
  display: flex;
  /* justify-content: start; */
  
}